.container {
  position: relative;
  /* border: 1px solid transparent;
  border-color: black; */
  width: 100vw;
}

.container-home {
  position: absolute;
  top: 10rem;
  /* border: 1px solid transparent;
  border-color: black; */
  /* margin: 0 -10rem 0; */
  width: inherit;
}

.img-headshot {
  position: absolute;
  /* border: 1px solid transparent;
  border-color: black; */
  left: 15rem;
  border-radius: 50%;
}

.bio {
  position: absolute;
  right: 15rem;
  top: -2rem;
  width: 40rem;
  font-size: 1.7rem;
  /* color: var(--color-font); */
  font-family: Space Grotesk;
}

.enlarged-bio {
  font-size: 2.3rem;
  color: var(--colors-blue9);
}

.container-timeline {
  position: absolute;
  top: 60rem;
  /* border: 1px solid transparent;
  border-color: white; */
  width: inherit;
  font-family: Space Grotesk;
}

.line {
  position: absolute;
  top: 0;
  left: 49%;
  border: 1px solid transparent;
  border-color: var(--color-font);
  height: 200rem;
  width: 1rem;
}

.tl-header {
  position: absolute;
  top: -4.5rem;
  left: -2.7rem;
  font-size: 1.5rem;
}

.orie-header {
  position: absolute;
  top: -2rem;
  left: -30rem;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.orie-header.hide {
  opacity: 0;
}

.cs-header {
  position: absolute;
  top: -2rem;
  left: 18rem;
  font-size: 1.5rem;
  display: inline;
  width: 14rem;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.cs-header.hide {
  opacity: 0;
}

.tl-footer {
  position: absolute;
  top: 202rem;
  left: -2rem;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  text-decoration: none;
  color: inherit;
  width: 5rem;
}

.tl-footer:hover {
  color: var(--colors-blue9);
}

.img-arrows {
  position: absolute;
  top: -18rem;
  left: -1.1rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.img-arrows.hide {
  opacity: 0
}

.orie {
  position: absolute;
  left: 10rem;
}

.cs {
  position: absolute;
  left: 57rem;
}

.loan-assessment {
  position: absolute;
  top: 5rem;
}

.milestone {
  position: absolute;
  top: 15rem;
}

.ohca {
  position: absolute;
  top: 44rem;
}

.juni {
  position: absolute;
  top: 89rem;
}

.mitre {
  position: absolute;
  top: 79rem;
}

.nlb {
  position: absolute;
  top: 117rem;
}

.covidhospitalizations {
  position: absolute;
  top: 142rem;
}

.monopoly {
  position: absolute;
  top: 158rem;
}

.project {
  /* border: 1px solid transparent;
  border-color: var(--color-font); */
  padding: 2rem 0 0;
  border-radius: 2rem;
  background-color: var(--colors-blue3);
  width: 23rem;
  text-align: center;
  box-shadow: 0px 0px 15px var(--colors-blue3);
}

.experience {
  padding: 2rem 0 1rem;
  border-radius: 2rem;
  background-color: var(--colors-blue3);
  width: 23rem;
  text-align: center;
  box-shadow: 0px 0px 15px var(--colors-blue3);
}

.img-project {
  margin: 1rem 0 2rem;
  border-radius: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.project:hover .img-project {
  opacity: 0;
}

.experience:hover .img-project {
  opacity: 0;
}

.desc {
  opacity: 0;
  position: absolute;
  padding: 0 1.5rem 0;
  margin-top: -0.5rem;
}

.project:hover .desc {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.experience:hover .desc {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.orie-date {
  position: absolute;
  right: -8.5rem;
  top: 15rem;
  font-size: 1.3rem;
}

.orieexp-date {
  position: absolute;
  right: -8.5rem;
  top: 8rem;
  font-size: 1.3rem;
}

.cs-date {
  position: absolute;
  left: -8.5rem;
  top: 15rem;
  font-size: 1.3rem;
}

.csexp-date {
  position: absolute;
  left: -8.5rem;
  top: 11rem;
  font-size: 1.3rem;
}

.project-title {
  color: var(--colors-gray12);
  margin: 1.5rem 0 5rem;
  padding: 0 3rem 0;
  font-size: 1.7rem;
}

.experience-title {
  color: var(--colors-gray12);
  margin: 1.5rem 0 2rem;
  padding: 0 2rem 0;
  font-size: 1.7rem;
}

.two-button {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 3rem;
}

.one-button {
  list-style: none;
  padding: 0 8rem 3rem;
}

.button {
  border: 1px solid transparent;
  border-color: var(--color-font);
  padding: 0.7rem 0.7rem 0.7rem;
  border-radius: 0.5rem;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  background-color: var(--colors-blue6);
}